<html>
    <head>
        <title>Glen's blog</title>
    </head>
    <body>
        <div>
            <h1><a href=""> Django Girls Blog</a> </h1>
        </div>

        <div>
            <p>published: 07.06 2019, 00:05</p>
            <h2> <a href="">My first post</a></h2>
            <p>烽火连三月，家书抵万金</p>
        </div>

        <div>
            <p>published: 07.06 2019, 00:05</p>
            <h2><a href="">My second post</a></h2>
            <p>将军百战死，壮士十年归</p>
        </div>
    </body>
</html>